<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NailDesignServlet</servlet-name>
        <servlet-class>za.ac.tut.web.NailDesignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBookingServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBookingForEditServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoadBookingForEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookingServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PedicureServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddPedicureAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPedicureBookingServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewPedicureBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPedicureBookingServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditPedicureBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPedicureBookingForEditServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoadPedicureBookingForEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMassageServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddMassageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewMassageBookingServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewMassageBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMassageBookingServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditMassageBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMassageBookingForEditServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoadMassageBookingForEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFacialServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddFacialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFacialBookingServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewFacialBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFacialBookingServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditFacialBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadFacialBookingForEditServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoadFacialBookingForEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHairAppointmentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddHairAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHairBookingServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewHairBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHairBookingServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditHairBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadHairBookingForEditServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoadHairBookingForEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NailDesignServlet</servlet-name>
        <url-pattern>/NailDesignServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookingServlet</servlet-name>
        <url-pattern>/ViewBookingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBookingForEditServlet</servlet-name>
        <url-pattern>/LoadBookingForEditServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookingServlet</servlet-name>
        <url-pattern>/EditBookingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PedicureServlet</servlet-name>
        <url-pattern>/PedicureServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPedicureBookingServlet</servlet-name>
        <url-pattern>/ViewPedicureBookingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPedicureBookingServlet</servlet-name>
        <url-pattern>/EditPedicureBookingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPedicureBookingForEditServlet</servlet-name>
        <url-pattern>/LoadPedicureBookingForEditServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMassageServlet</servlet-name>
        <url-pattern>/AddMassageServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewMassageBookingServlet</servlet-name>
        <url-pattern>/ViewMassageBookingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMassageBookingServlet</servlet-name>
        <url-pattern>/EditMassageBookingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMassageBookingForEditServlet</servlet-name>
        <url-pattern>/LoadMassageBookingForEditServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFacialServlet</servlet-name>
        <url-pattern>/AddFacialServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFacialBookingServlet</servlet-name>
        <url-pattern>/ViewFacialBookingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFacialBookingServlet</servlet-name>
        <url-pattern>/EditFacialBookingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadFacialBookingForEditServlet</servlet-name>
        <url-pattern>/LoadFacialBookingForEditServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHairAppointmentServlet</servlet-name>
        <url-pattern>/AddHairAppointmentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHairBookingServlet</servlet-name>
        <url-pattern>/ViewHairBookingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHairBookingServlet</servlet-name>
        <url-pattern>/EditHairBookingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadHairBookingForEditServlet</servlet-name>
        <url-pattern>/LoadHairBookingForEditServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
